table {
    width: 100%;
}
table, th, td {
    padding: 15px;
    border: 2px solid black;
    border-collapse: collapse;
}
td.label {
    text-align: center;
}
td.yblocks {
    width: max-content;
}
div.single_yblocks {
    width: max-content;
    margin-left: auto;
    margin-right: auto;
}
tr:nth-child(even) {background-color: #f2f2f2;}
th {
    background-color: #4CAF50;
    color: white;
}
.tstats {
    opacity:.5;
}
.elements > ul {
    max-height: 300px;
    overflow-y: auto;
    padding-left: 15px;
}
.code_terms > ul {
    padding-left: 15px;
}
